openapi: "3.0.2"
info:
  title: Comfy API
  version: "1.0"
servers:
  - url: https://api.comfy.org
paths:
  /users:
    get:
      summary: Get information about the calling user.
      operationId: getUser
      tags:
        - Registry
      security:
        - BearerAuth: [ ]
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"

        "404":
          description: Not Found
        "401":
          description: Unauthorized
  /customers:
    post:
      summary: Create a new customer
      description: Creates a new customer using the provided token. No request body is needed as user information is extracted from the token.
      operationId: createCustomer
      x-excluded: true
      tags:
        - API Nodes
      security:
        - BearerAuth: [ ]
      responses:
        "200":
          description: Customer already exists
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Customer"
        "201":
          description: Customer created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Customer"
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Unauthorized
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    get:
      summary: Search for customers
      description: Search for customers by email, name, Stripe ID, or Metronome ID.
      operationId: searchCustomers
      x-excluded: true
      tags:
        - API Nodes
        - Admin
      security:
        - BearerAuth: [ ]
      parameters:
        - in: query
          name: email
          schema:
            type: string
          description: Email address to search for
        - in: query
          name: name
          schema:
            type: string
          description: Customer name to search for
        - in: query
          name: stripe_id
          schema:
            type: string
          description: Stripe customer ID to search for
        - in: query
          name: metronome_id
          schema:
            type: string
          description: Metronome customer ID to search for\
        - in: query
          name: page
          schema:
            type: integer
            default: 1
          description: Page number to retrieve
        - in: query
          name: limit
          schema:
            type: integer
            default: 10
          description: Number of customers to return per page
      responses:
        "200":
          description: Customers matching the search criteria
          content:
            application/json:
              schema:
                type: object
                properties:
                  page:
                    type: integer
                    description: Current page number
                  limit:
                    type: integer
                    description: Number of customers per page
                  totalPages:
                    type: integer
                    description: Total number of pages available
                  customers:
                    type: array
                    items:
                      $ref: "#/components/schemas/Customer"
                  total:
                    type: integer
                    description: Total number of matching customers
        "400":
          description: Invalid request parameters
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /customers/me:
    get:
      summary: Get authenticated customer details
      description: Returns details about the currently authenticated customer based on their JWT token.
      operationId: getAuthenticatedCustomer
      x-excluded: true
      tags:
        - API Nodes
      security:
        - BearerAuth: [ ]
      responses:
        "200":
          description: Customer details retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Customer"
        "401":
          description: Unauthorized or invalid token
        "404":
          description: Customer not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /customers/{customer_id}:
    get:
      summary: Get a customer by ID
      description: Returns details about a customer by their ID.
      operationId: getCustomerById
      x-excluded: true
      tags:
        - API Nodes
        - Admin
      security:
        - BearerAuth: [ ]
      parameters:
        - in: path
          name: customer_id
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Customer details retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  customer:
                    $ref: "#/components/schemas/Customer"
        "401":
          description: Unauthorized or invalid token
        "404":
          description: Customer not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /customers/api-keys:
    get:
      summary: List all API keys for a customer
      operationId: listCustomerAPIKeys
      x-excluded: true
      responses:
        '200':
          description: List of API keys
          content:
            application/json:
              schema:
                type: object
                properties:
                  api_keys:
                    type: array
                    items:
                      $ref: '#/components/schemas/APIKey'
        '401':
          description: Unauthorized
        '404':
          description: Customer not found
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    post:
      summary: Create a new API key for a customer
      operationId: createCustomerAPIKey
      x-excluded: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAPIKeyRequest'
      responses:
        '201':
          description: API key created
          content:
            application/json:
              schema:
                type: object
                properties:
                  api_key:
                    $ref: '#/components/schemas/APIKeyWithPlaintext'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        '401':
          description: Unauthorized
        '404':
          description: Customer or API key not found
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /customers/api-keys/{api_key_id}:
    delete:
      summary: Delete an API key for a customer
      operationId: deleteCustomerAPIKey
      x-excluded: true
      parameters:
        - in: path
          name: api_key_id
          required: true
          schema:
            type: string
      responses:
        '204':
          description: API key deleted
        '401':
          description: Unauthorized
        '404':
          description: Customer or API key not found
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /customers/credit:
    post:
      summary: Initiates a Credit Purchase.
      operationId: InitiateCreditPurchase
      x-excluded: true
      tags:
        - API Nodes
        - Released
      security:
        - BearerAuth: [ ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                amount_micros:
                  type: integer
                  format: int64
                  description: the amount of the checkout transaction in micro value
                currency:
                  type: string
                  description: the currency used in the checkout transaction
              required:
                - amount_micros
                - currency
      responses:
        "201":
          description: Customer Checkout created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  checkout_url:
                    type: string
                    description: the url to redirect the customer
        "400":
          description: Bad request, invalid token or user already exists
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Unauthorized or invalid token
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /customers/billing:
    post:
      summary: Access customer billing portal
      description: Creates a session for the customer to access their billing portal where they can manage subscriptions, payment methods, and view invoices.
      operationId: AccessBillingPortal
      x-excluded: true
      tags:
        - API Nodes
        - Released
      security:
        - BearerAuth: [ ]
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                return_url:
                  type: string
                  description: Optional URL to redirect the customer after they're done with the billing portal
      responses:
        "200":
          description: Billing portal session created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  billing_portal_url:
                    type: string
                    description: The URL to redirect the customer to the billing portal
        "400":
          description: Bad request, invalid input
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Unauthorized or invalid token
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /customers/usage:
    post:
      summary: Get customer's usage
      description: Returns the customer's as a dashboard URL.
      operationId: GetCustomerUsage
      x-excluded: true
      tags:
        - API Nodes
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  url:
                    type: string
                    description: The dashboard URL for the customer's usage
        '401':
          description: Unauthorized or invalid token
        '404':
          description: Customer not found
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
                   
  /customers/balance:
    get:
      summary: Get customer's remaining balance
      description: Returns the customer's current remaining balance in microamount and its currency.
      operationId: GetCustomerBalance
      x-excluded: true
      tags:
        - API Nodes
      security:
        - BearerAuth: [ ]
      responses:
        "200":
          description: Customer balance retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  amount_micros:
                    type: number
                    format: double
                    description: The remaining balance in microamount (1/1,000,000 of the currency unit)
                  currency:
                    type: string
                    description: The currency code (e.g., "usd")
                required:
                  - amount_micros
                  - currency
        "401":
          description: Unauthorized or invalid token
        "404":
          description: Customer not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /customers/{customer_id}/balance:
    get:
      summary: Get customer's remaining balance by ID
      description: Returns the specified customer's current remaining balance in microamount and its currency.
      operationId: GetCustomerBalanceById
      x-excluded: true
      tags:
        - API Nodes
        - Admin
      security:
        - BearerAuth: [ ]
      parameters:
        - in: path
          name: customer_id
          required: true
          schema:
            type: string
          description: The ID of the customer whose balance to retrieve
      responses:
        "200":
          description: Customer balance retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  amount_micros:
                    type: number
                    format: double
                    description: The remaining balance in microamount (1/1,000,000 of the currency unit)
                  currency:
                    type: string
                    description: The currency code (e.g., "usd")
                required:
                  - amount_micros
                  - currency
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Unauthorized or invalid token
        "404":
          description: Customer not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  
  /customers/storage:
    post:
      summary: Store a resource for a customer
      description: Store a resource for a customer. Resource will have a 24 hour expiry. The signed URL will be generated for the specified file path.
      operationId: createCustomerStorageResource
      x-excluded: true
      tags:
        - API Nodes
      security:
        - BearerAuth: [ ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                file_name:
                  type: string
                  description: The desired name of the file (e.g., 'profile.jpg')
                content_type:
                  type: string
                  description: The content type of the file (e.g., 'image/png')
                file_hash:
                  type: string
                  description: The hash of the file. If provided, an existing file with the same hash may be returned.
              required:
                - file_name
      responses:
        "200":
          description: Signed URL generated successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomerStorageResourceResponse"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Unauthorized
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /customers/{customer_id}/events:
    get:
      summary: Get events related to customer
      operationId: GetCustomerEventsById
      x-excluded: true
      tags:
        - API Nodes
      security:
        - BearerAuth: [ ]
      parameters:
        - in: path
          name: customer_id
          required: true
          schema:
            type: string
        - in: query
          name: page
          description: Page number of the nodes list
          required: false
          schema:
            type: integer
            default: 1
        - in: query
          name: limit
          description: Number of nodes to return per page
          required: false
          schema:
            type: integer
            default: 10
        - in: query
          name: filter
          description: Event type to filter
          required: false
          schema:
            type: string
      responses:
        '200':
          description: A paginated list of nodes
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                    description: Total number of events available
                  events:
                    type: array
                    items:
                      $ref: '#/components/schemas/AuditLog'
                  page:
                    type: integer
                    description: Current page number
                  limit:
                    type: integer
                    description: Maximum number of nodes per page
                  totalPages:
                    type: integer
                    description: Total number of pages available
        '400':
          description: Invalid input, object invalid
        '404':
          description: Not found
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /customers/events:
    get:
      summary: Get events related to customer
      operationId: GetCustomerEvents
      x-excluded: true
      tags:
        - API Nodes
      security:
        - BearerAuth: [ ]
      parameters:
        - in: query
          name: page
          description: Page number of the nodes list
          required: false
          schema:
            type: integer
            default: 1
        - in: query
          name: limit
          description: Number of nodes to return per page
          required: false
          schema:
            type: integer
            default: 10
        - in: query
          name: filter
          description: Event type to filter
          required: false
          schema:
            type: string
      responses:
        '200':
          description: A paginated list of nodes
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                    description: Total number of events available
                  events:
                    type: array
                    items:
                      $ref: '#/components/schemas/AuditLog'
                  page:
                    type: integer
                    description: Current page number
                  limit:
                    type: integer
                    description: Maximum number of nodes per page
                  totalPages:
                    type: integer
                    description: Total number of pages available
        '400':
          description: Invalid input, object invalid
        '404':
          description: Not found
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /upload-artifact:
    post:
      summary: Receive artifacts (output files) from the ComfyUI GitHub Action
      description: Receive artifacts (output files) from the ComfyUI GitHub Action
      x-excluded: true
      tags:
        - ComfyUI CI
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                repo:
                  type: string
                  description: Repository name
                job_id:
                  type: string
                  description: Unique identifier for the job
                run_id:
                  type: string
                  description: Unique identifier for the run
                os:
                  type: string
                  description: Operating system used in the run
                cuda_version:
                  type: string
                  description: Cuda version.
                bucket_name:
                  type: string
                  description: The name of the bucket where the output files are stored
                output_files_gcs_paths:
                  type: string
                  description: A comma separated string that contains GCS path(s) to output files. eg. gs://bucket-name/output, gs://bucket-name/output2
                comfy_logs_gcs_path:
                  type: string
                  description: The path to ComfyUI logs. eg. gs://bucket-name/logs
                comfy_run_flags:
                  type: string
                  description: The flags used in the comfy run
                commit_hash:
                  type: string
                commit_time:
                  type: string
                  description: The time of the commit in the format of "YYYY-MM-DDTHH:MM:SSZ" (2016-10-10T00:00:00Z)
                commit_message:
                  type: string
                  description: The commit message
                workflow_name:
                  type: string
                  description: The name of the workflow
                branch_name:
                  type: string
                start_time:
                  type: integer
                  format: int64
                  description: The start time of the job as a Unix timestamp.
                end_time:
                  type: integer
                  format: int64
                  description: The end time of the job as a Unix timestamp.
                avg_vram:
                  type: integer
                  description: The average amount of VRAM used in the run.
                peak_vram:
                  type: integer
                  description: The peak amount of VRAM used in the run.
                pr_number:
                  type: string
                  description: The pull request number
                author:
                  type: string
                  description: The author of the commit
                job_trigger_user:
                  type: string
                  description: The user who triggered the job
                python_version:
                  type: string
                  description: The python version used in the run
                pytorch_version:
                  type: string
                  description: The pytorch version used in the run
                machine_stats:
                  $ref: "#/components/schemas/MachineStats"
                status:
                  $ref: "#/components/schemas/WorkflowRunStatus"
              required:
                - repo
                - job_id
                - run_id
                - os
                - commit_hash
                - commit_time
                - commit_message
                - branch_name
                - workflow_name
                - start_time
                - end_time
                - pr_number
                - python_version
                - job_trigger_user
                - author
                - status

      responses:
        '200':
          description: Successfully received the artifact details
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        '400':
          description: Invalid request
        '500':
          description: Internal server error
  /gitcommit:
    get:
      summary: Retrieve CI data for a given commit
      description: Returns all runs, jobs, job results, and storage files associated with a given commit.
      x-excluded: true
      tags:
        - ComfyUI CI
      parameters:
        - in: query
          name: commitId
          required: false
          schema:
            type: string
          description: The ID of the commit to fetch data for.
        - in: query
          name: operatingSystem
          required: false
          schema:
            type: string
          description: The operating system to filter the CI data by.
        - in: query
          name: workflowName
          required: false
          schema:
            type: string
          description: The name of the workflow to filter the CI data by.
        - in: query
          name: branch
          required: false
          schema:
            type: string
          description: The branch of the gitcommit to filter the CI data by.
        - in: query
          name: page
          required: false
          schema:
            type: integer
            default: 1
          description: The page number to retrieve.
        - in: query
          name: pageSize
          required: false
          schema:
            type: integer
            default: 10
          description: The number of items to include per page.
        - in: query
          name: repoName
          required: false
          schema:
            type: string
            default: comfyanonymous/ComfyUI
          description: The repo to filter by.
      responses:
        '200':
          description: An object containing runs, jobs, job results, and storage files
          content:
            application/json:
              schema:
                type: object
                properties:
                  jobResults:
                    type: array
                    items:
                      $ref: '#/components/schemas/ActionJobResult'
                  totalNumberOfPages:
                    type: integer
        '404':
          description: Commit not found
        '500':
          description: Internal server error
  /gitcommitsummary:
    get:
      summary: Retrieve a summary of git commits
      description: Returns a summary of git commits, including status, start time, and end time.
      x-excluded: true
      tags:
        - ComfyUI CI
      parameters:
        - in: query
          name: repoName
          required: false
          schema:
            type: string
            default: comfyanonymous/ComfyUI
          description: The repository name to filter the git commits by.
        - in: query
          name: branchName
          required: false
          schema:
            type: string
          description: The branch name to filter the git commits by.
        - in: query
          name: page
          required: false
          schema:
            type: integer
            default: 1
          description: The page number to retrieve.
        - in: query
          name: pageSize
          required: false
          schema:
            type: integer
            default: 10
          description: The number of items to include per page.
      responses:
        '200':
          description: Successfully retrieved git commit summaries
          content:
            application/json:
              schema:
                type: object
                properties:
                  commitSummaries:
                    type: array
                    items:
                      $ref: '#/components/schemas/GitCommitSummary'
                  totalNumberOfPages:
                    type: integer
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
  /workflowresult/{workflowResultId}:
    get:
      summary: Retrieve a specific commit by ID
      operationId: getWorkflowResult
      x-excluded: true
      tags:
        - ComfyUI CI
      parameters:
        - in: path
          name: workflowResultId
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Commit details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionJobResult'
        '404':
          description: Commit not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /branch:
    get:
      summary: Retrieve all distinct branches for a given repo
      description: Returns all branches for a given repo.
      x-excluded: true
      tags:
        - ComfyUI CI
      parameters:
        - in: query
          name: repo_name
          required: true
          schema:
            type: string
            default: comfyanonymous/ComfyUI
          description: The repo to filter by.
      responses:
        '200':
          description: An array of branches
          content:
            application/json:
              schema:
                type: object
                properties:
                  branches:
                    type: array
                    items:
                      type: string
        '404':
          description: Repo not found
        '500':
          description: Internal server error
  /users/publishers/:
    get:
      summary: Retrieve all publishers for a given user
      operationId: listPublishersForUser
      tags:
        - Registry
      responses:
        '200':
          description: A list of publishers
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Publisher'
        '400':
          description: Bad request, invalid input data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /publishers/{publisherId}/permissions:
    get:
      summary: Retrieve permissions the user has for a given publisher
      operationId: getPermissionOnPublisher
      tags:
        - Registry
      parameters:
        - in: path
          name: publisherId
          required: true
          schema:
            type: string
      responses:
        '200':
          description: A list of permissions
          content:
            application/json:
              schema:
                type: object
                properties:
                  canEdit:
                    type: boolean
        '400':
          description: Bad request, invalid input data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /publishers/validate:
    get:
      summary: Validate if a publisher username is available
      description: Checks if the publisher username is already taken.
      operationId: validatePublisher
      tags:
        - Registry
      parameters:
        - in: query
          name: username
          schema:
            type: string
          description: The publisher username to validate.
          required: true
      responses:
        '200':
          description: Username validation result
          content:
            application/json:
              schema:
                type: object
                properties:
                  isAvailable:
                    type: boolean
                    description: True if the username is available, false otherwise.
        '400':
          description: Invalid input, such as missing username in the query.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /publishers:
    post:
      summary: Create a new publisher
      operationId: createPublisher
      security:
        - BearerAuth: [ ]
      tags:
        - Registry
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Publisher'
      responses:
        '201':
          description: Publisher created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Publisher'
        '400':
          description: Bad request, invalid input data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

    get:
      summary: Retrieve all publishers
      operationId: listPublishers
      tags:
        - Registry
      responses:
        '200':
          description: A list of publishers
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Publisher'
        '400':
          description: Bad request, invalid input data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /publishers/{publisherId}:
    get:
      summary: Retrieve a publisher by ID
      operationId: getPublisher
      tags:
        - Registry
      parameters:
        - in: path
          name: publisherId
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Publisher retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Publisher'
        '404':
          description: Publisher not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

    put:
      summary: Update a publisher
      operationId: updatePublisher
      security:
        - BearerAuth: [ ]
      tags:
        - Registry
      parameters:
        - in: path
          name: publisherId
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Publisher'
      responses:
        '200':
          description: Publisher updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Publisher'
        '400':
          description: Bad request, invalid input data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
        '404':
          description: Publisher not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

    delete:
      summary: Delete a publisher
      operationId: deletePublisher
      security:
        - BearerAuth: [ ]
      tags:
        - Registry
      parameters:
        - in: path
          name: publisherId
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Publisher deleted successfully
        '404':
          description: Publisher not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /publishers/{publisherId}/ban:
    post:
      summary: Ban a publisher
      operationId: BanPublisher
      tags:
        - Registry
      x-excluded: true
      parameters:
        - in: path
          name: publisherId
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Publisher Banned Successfully
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Publisher not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /publishers/{publisherId}/nodes/v2:
    get:
      summary: Retrieve all nodes
      operationId: listNodesForPublisherV2
      security:
        - BearerAuth: [ ]
      tags:
        - Registry
      parameters:
        - in: path
          name: publisherId
          required: true
          schema:
            type: string
        - in: query
          name: include_banned
          description: Number of nodes to return per page
          required: false
          schema:
            type: boolean
        - in: query
          name: page
          description: Page number of the nodes list
          required: false
          schema:
            type: integer
            default: 1
        - in: query
          name: limit
          description: Number of nodes to return per page
          required: false
          schema:
            type: integer
            default: 10
      responses:
        '200':
          description: List of all nodes
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                    description: Total number of nodes available
                  nodes:
                    type: array
                    items:
                      $ref: '#/components/schemas/Node'
                  page:
                    type: integer
                    description: Current page number
                  limit:
                    type: integer
                    description: Maximum number of nodes per page
                  totalPages:
                    type: integer
                    description: Total number of pages available
        '400':
          description: Bad request, invalid input data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /publishers/{publisherId}/nodes:
    post:
      summary: Create a new custom node
      operationId: createNode
      tags:
        - Registry
      security:
        - BearerAuth: [ ]
      parameters:
        - in: path
          name: publisherId
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Node'
      responses:
        '201':
          description: Node created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Node'
        '400':
          description: Bad request, invalid input data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    get:
      summary: Retrieve all nodes
      operationId: listNodesForPublisher
      security:
        - BearerAuth: [ ]
      tags:
        - Registry
      parameters:
        - in: path
          name: publisherId
          required: true
          schema:
            type: string
        - in: query
          name: include_banned
          description: Number of nodes to return per page
          required: false
          schema:
            type: boolean
      responses:
        '200':
          description: List of all nodes
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Node'
        '400':
          description: Bad request, invalid input data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /publishers/{publisherId}/nodes/{nodeId}:
    put:
      summary: Update a specific node
      operationId: updateNode
      tags:
        - Registry
      security:
        - BearerAuth: [ ]
      parameters:
        - in: path
          name: publisherId
          required: true
          schema:
            type: string
        - in: path
          name: nodeId
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Node'
      responses:
        '200':
          description: Node updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Node'
        '400':
          description: Bad request, invalid input data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Node not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      summary: Delete a specific node
      operationId: deleteNode
      tags:
        - Registry
      security:
        - BearerAuth: [ ]
      parameters:
        - in: path
          name: publisherId
          required: true
          schema:
            type: string
        - in: path
          name: nodeId
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Node deleted successfully
        '404':
          description: Node not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'


  /publishers/{publisherId}/nodes/{nodeId}/permissions:
    get:
      summary: Retrieve permissions the user has for a given publisher
      operationId: getPermissionOnPublisherNodes
      tags:
        - Registry
      parameters:
        - in: path
          name: publisherId
          required: true
          schema:
            type: string
        - in: path
          name: nodeId
          required: true
          schema:
            type: string
      responses:
        '200':
          description: A list of permissions
          content:
            application/json:
              schema:
                type: object
                properties:
                  canEdit:
                    type: boolean
        '400':
          description: Bad request, invalid input data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /publishers/{publisherId}/nodes/{nodeId}/versions:
    post:
      summary: Publish a new version of a node
      operationId: publishNodeVersion
      tags:
        - Registry
      security:
        - BearerAuth: [ ]
      parameters:
        - in: path
          name: publisherId
          required: true
          schema:
            type: string
        - in: path
          name: nodeId
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                personal_access_token:
                  type: string
                node_version:
                  $ref: '#/components/schemas/NodeVersion'
                node:
                  $ref: '#/components/schemas/Node'
              required:
                - node
                - node_version
                - personal_access_token
      responses:
        '201':
          description: New version published successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  signedUrl:
                    type: string
                    description: The signed URL to upload the node version token.
                  node_version:
                    $ref: '#/components/schemas/NodeVersion'
        '400':
          description: Bad request, invalid input data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /publishers/{publisherId}/nodes/{nodeId}/versions/{versionId}:
    delete:
      summary: Unpublish (delete) a specific version of a node
      operationId: deleteNodeVersion
      tags:
        - Registry
      security:
        - BearerAuth: [ ]
      parameters:
        - in: path
          name: publisherId
          required: true
          schema:
            type: string
        - in: path
          name: nodeId
          required: true
          schema:
            type: string
        - in: path
          name: versionId
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Version unpublished (deleted) successfully
        '403':
          description: Version does not belong to the publisher
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Version not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Version not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      summary: Update changelog and deprecation status of a node version
      operationId: updateNodeVersion
      description: Update only the changelog and deprecated status of a specific version of a node.
      tags:
        - Registry
      security:
        - BearerAuth: [ ]
      parameters:
        - in: path
          name: publisherId
          required: true
          schema:
            type: string
        - in: path
          name: nodeId
          required: true
          schema:
            type: string
        - in: path
          name: versionId
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NodeVersionUpdateRequest'
      responses:
        '200':
          description: Version updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NodeVersion'
        '400':
          description: Bad request, invalid input data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Version not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /publishers/{publisherId}/nodes/{nodeId}/ban:
    post:
      summary: Ban a publisher's Node
      operationId: BanPublisherNode
      tags:
        - Registry
      x-excluded: true
      parameters:
        - in: path
          name: publisherId
          required: true
          schema:
            type: string
        - in: path
          name: nodeId
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Node Banned Successfully
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Publisher or Node not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /publishers/{publisherId}/tokens:
    post:
      summary: Create a new personal access token
      operationId: createPersonalAccessToken
      security:
        - BearerAuth: [ ]
      tags:
        - Registry
      parameters:
        - in: path
          name: publisherId
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PersonalAccessToken'
      responses:
        '201':
          description: Token created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    type: string
                    description: The newly created personal access token.
        '400':
          description: Bad request, invalid input data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'


    get:
      summary: Retrieve all personal access tokens for a publisher
      operationId: listPersonalAccessTokens
      security:
        - BearerAuth: [ ]
      tags:
        - Registry
      x-excluded: true
      parameters:
        - in: path
          name: publisherId
          required: true
          schema:
            type: string
      responses:
        '200':
          description: List of all personal access tokens
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PersonalAccessToken'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: No tokens found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /publishers/{publisherId}/tokens/{tokenId}:
    delete:
      summary: Delete a specific personal access token
      operationId: deletePersonalAccessToken
      security:
        - BearerAuth: [ ]
      tags:
        - Registry
      parameters:
        - in: path
          name: publisherId
          required: true
          schema:
            type: string
        - in: path
          name: tokenId
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Token deleted successfully
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Token not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /nodes/search:
    get:
      summary: Retrieves a list of nodes
      description: Returns a paginated list of nodes across all publishers.
      operationId: searchNodes
      tags:
        - Registry
      parameters:
        - in: query
          name: page
          description: Page number of the nodes list
          required: false
          schema:
            type: integer
            default: 1
        - in: query
          name: limit
          description: Number of nodes to return per page
          required: false
          schema:
            type: integer
            default: 10
        - in: query
          name: search
          description: Keyword to search the nodes
          required: false
          schema:
            type: string
        - in: query
          name: repository_url_search
          description: Keyword to search the nodes by repository URL
          required: false
          schema:
              type: string
        - in: query
          name: comfy_node_search
          description: Keyword to search the nodes by comfy node name
          required: false
          schema:
            type: string
        - in: query
          name: supported_OS
          description: Filter nodes by supported operating systems
          required: false
          schema:
            type: string
          examples:
            osIndependent:
              value: "OS Independent"
            windows:
              value: "Microsoft :: Windows"
            windows10:
              value: "Microsoft :: Windows :: Windows 10"
            linux:
              value: "POSIX :: Linux"
            ubuntu:
              value: "POSIX :: Linux :: Ubuntu"
            macos:
              value: "MacOS"
            macosx:
              value: "MacOS :: MacOS X"
        - in: query
          name: supported_accelerator
          description: Filter nodes by supported accelerator
          required: false
          schema:
            type: string
        - in: query
          name: include_banned
          description: Number of nodes to return per page
          required: false
          schema:
            type: boolean
      responses:
        '200':
          description: A paginated list of nodes
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                    description: Total number of nodes available
                  nodes:
                    type: array
                    items:
                      $ref: '#/components/schemas/Node'
                  page:
                    type: integer
                    description: Current page number
                  limit:
                    type: integer
                    description: Maximum number of nodes per page
                  totalPages:
                    type: integer
                    description: Total number of pages available
        '400':
          description: Invalid input, object invalid
        '404':
          description: Not found
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /nodes/reindex:
    post:
      summary: Reindex all nodes for searching.
      operationId: reindexNodes
      tags:
        - Registry
      x-excluded: true
      parameters:
        - in: query
          name: max_batch
          description: Maximum number of nodes to send to algolia at a time
          required: false
          schema:
            type: integer
        - in: query
          name: min_age
          description: Minimum interval from the last time the nodes were indexed to algolia
          required: false
          schema:
            type: string
            x-go-type: time.Duration
      responses:
        '200':
          description: Reindex completed successfully.
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /nodes:
    get:
      summary: Retrieves a list of nodes
      description: Returns a paginated list of nodes across all publishers.
      operationId: listAllNodes
      tags:
        - Registry
      parameters:
        - in: query
          name: page
          description: Page number of the nodes list
          required: false
          schema:
            type: integer
            default: 1
        - in: query
          name: limit
          description: Number of nodes to return per page
          required: false
          schema:
            type: integer
            default: 10
        - in: query
          name: supported_OS
          description: Filter nodes by supported operating systems
          required: false
          schema:
            type: string
          examples:
            osIndependent:
              value: "OS Independent"
            windows:
              value: "Microsoft :: Windows"
            windows10:
              value: "Microsoft :: Windows :: Windows 10"
            linux:
              value: "POSIX :: Linux"
            ubuntu:
              value: "POSIX :: Linux :: Ubuntu"
            macos:
              value: "MacOS"
            macosx:
              value: "MacOS :: MacOS X"
        - in: query
          name: supported_accelerator
          description: Filter nodes by supported accelerator
          required: false
          schema:
            type: string
        - in: query
          name: include_banned
          description: Number of nodes to return per page
          required: false
          schema:
            type: boolean
        - in: query
          name: timestamp
          description: Retrieve nodes created or updated after this timestamp (ISO 8601 format)
          required: false
          schema:
            type: string
            format: date-time
        - in: query
          name: latest
          description: Whether to fetch fresh result from database or use cached one if false
          required: false
          schema:
            type: boolean
        - in: query
          name: sort
          description: Database column to use as ascending ordering. Add `;desc` as suffix on each column for descending sort
          required: false
          schema:
            type: array
            items:
              type: string
        - in: query
          name: node_id
          description: node_id to use as filter
          required: false
          schema:
            type: array
            items:
              type: string
        - in: query
          name: form_factor
          description: The platform requesting the nodes
          required: false
          schema:
            type: string
      responses:
        '200':
          description: A paginated list of nodes
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                    description: Total number of nodes available
                  nodes:
                    type: array
                    items:
                      $ref: '#/components/schemas/Node'
                  page:
                    type: integer
                    description: Current page number
                  limit:
                    type: integer
                    description: Maximum number of nodes per page
                  totalPages:
                    type: integer
                    description: Total number of pages available
        '400':
          description: Invalid input, object invalid
        '404':
          description: Not found
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /nodes/{nodeId}:
    get:
      summary: Retrieve a specific node by ID
      description: Returns the details of a specific node.
      operationId: getNode
      tags:
        - Registry
      parameters:
        - in: path
          name: nodeId
          required: true
          schema:
            type: string
        - in: query
          name: include_translations
          description: Whether to include the translation or not
          schema:
            type: boolean
      responses:
        '200':
          description: Node details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Node'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Node not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /nodes/{nodeId}/reviews:
    post:
      summary: Add review to a specific version of a node
      operationId: postNodeReview
      tags:
        - Registry
      parameters:
        - in: path
          name: nodeId
          required: true
          schema:
            type: string
        - in: query
          name: star
          description: number of star given to the node version
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Detailed information about a specific node
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Node'
        '400':
          description: Bad Request
        '404':
          description: Node version not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /nodes/{nodeId}/install:
    get:
      summary: Returns a node version to be installed.
      description: Retrieves the node data for installation, either the latest or a specific version.
      operationId: installNode
      tags:
        - Registry
      parameters:
        - in: path
          name: nodeId
          required: true
          description: The unique identifier of the node.
          schema:
            type: string
        - in: query
          name: version
          required: false
          description: Specific version of the node to retrieve. If omitted, the latest version is returned.
          schema:
            type: string
            pattern: '^\d+\.\d+\.\d+$'
      responses:
        '200':
          description: Node data returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NodeVersion'
        '400':
          description: Invalid input, such as a bad version format.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Node not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /nodes/{nodeId}/translations:
    post:
      summary: Create Node Translations
      operationId: CreateNodeTranslations
      tags:
        - Registry
      parameters:
        - in: path
          name: nodeId
          required: true
          description: The unique identifier of the node.
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  additionalProperties:
                    type: object
                    additionalProperties: true
      responses:
        '201':
          description: Detailed information about a specific node
        '400':
          description: Bad Request
        '404':
          description: Node version not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /nodes/{nodeId}/versions:
    get:
      summary: List all versions of a node
      operationId: listNodeVersions
      tags:
        - Registry
      parameters:
        - in: path
          name: nodeId
          required: true
          schema:
            type: string
        - in: query
          name: statuses
          required: false
          schema:
            type: array
            items:
              $ref: '#/components/schemas/NodeVersionStatus'
        # parameter to include status_reason, default to false
        - in: query
          name: include_status_reason
          required: false
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: List of all node versions
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/NodeVersion'
        '403':
          description: Node banned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Node not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /nodes/{nodeId}/versions/{versionId}:
    get:
      summary: Retrieve a specific version of a node
      operationId: getNodeVersion
      tags:
        - Registry
      parameters:
        - in: path
          name: nodeId
          required: true
          schema:
            type: string
        - in: path
          name: versionId
          description: The version of the node. (Not a UUID).
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Detailed information about a specific node version
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NodeVersion'
        '404':
          description: Node version not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /versions:
    get:
      summary: List all node versions given some filters.
      operationId: listAllNodeVersions
      tags:
        - Registry
      parameters:
        - in: query
          name: nodeId
          required: false
          schema:
            type: string
        - in: query
          name: statuses
          required: false
          style: form
          explode: true
          schema:
            type: array
            items:
              $ref: '#/components/schemas/NodeVersionStatus'
        # parameter to include status_reason, default to false
        - in: query
          name: include_status_reason
          required: false
          schema:
            type: boolean
            default: false
        - in: query
          name: page
          required: false
          schema:
            type: integer
            default: 1
          description: The page number to retrieve.
        - in: query
          name: pageSize
          required: false
          schema:
            type: integer
            default: 10
          description: The number of items to include per page.
        - in: query
          name: status_reason
          required: false
          schema:
            type: string
          description: search for status_reason, case insensitive
      responses:
        '200':
          description: List of all node versions
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                    description: Total number of node versions available
                  versions:
                    type: array
                    items:
                      $ref: '#/components/schemas/NodeVersion'
                  page:
                    type: integer
                    description: Current page number
                  pageSize:
                    type: integer
                    description: Maximum number of node versions per page. Maximum is 100.
                  totalPages:
                    type: integer
                    description: Total number of pages available
        '400':
          description: Invalid input, object invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Node banned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /admin/nodes:
    post:
      summary: Create a new custom node using admin priviledge
      operationId: adminCreateNode
      x-excluded: true
      tags:
        - Registry
      security:
        - BearerAuth: [ ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Node'
      responses:
        '201':
          description: Node created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Node'
        '400':
          description: Bad request, invalid input data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: Duplicate error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /admin/nodes/{nodeId}/versions/{versionNumber}:
    put:
      summary: Admin Update Node Version Status
      operationId: adminUpdateNodeVersion
      description: Only admins can approve a node version.
      x-excluded: true
      tags:
        - Registry
      security:
        - BearerAuth: [ ]
      parameters:
        - in: path
          name: nodeId
          required: true
          schema:
            type: string
        - in: path
          name: versionNumber
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  $ref: "#/components/schemas/NodeVersionStatus"
                status_reason:
                  type: string
                  description: The reason for the status change.

      responses:
        '200':
          description: Version updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NodeVersion'
        '400':
          description: Bad request, invalid input data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Version not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /security-scan:
    get:
      summary: Security Scan
      operationId: securityScan
      description: Pull all pending node versions and conduct security scans.
      tags:
        - Registry
      x-excluded: true
      parameters:
        - in: query
          name: minAge
          required: false
          schema:
            type: string
            x-go-type: time.Duration
        - in: query
          name: minSecurityScanAge
          required: false
          schema:
            type: string
            x-go-type: time.Duration
        - in: query
          name: maxNodes
          required: false
          schema:
            type: integer
      responses:
        '200':
          description: Scan completed successfully
        '400':
          description: Bad request, invalid input data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /nodes/{nodeId}/versions/{version}/comfy-nodes:
    parameters:
      - in: path
        name: nodeId
        required: true
        schema:
          type: string
      - in: path
        name: version
        required: true
        schema:
          type: string
    post:
      summary: create comfy-nodes for certain node
      operationId: CreateComfyNodes
      tags:
        - Registry
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                success:
                  type: boolean
                status:
                  type: string
                reason:
                  type: string
                cloud_build_info:
                  $ref: '#/components/schemas/ComfyNodeCloudBuildInfo'
                nodes:
                  additionalProperties:
                    $ref: '#/components/schemas/ComfyNode'
      responses:
        '204':
          description: Comy Nodes created successfully
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Version not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: Existing Comfy Nodes exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    get:
      summary: list comfy-nodes for certain node
      operationId: ListComfyNodes
      tags:
        - Registry
      parameters:
        - in: query
          name: page
          required: false
          schema:
            type: integer
            default: 1
          description: The page number to retrieve.
        - in: query
          name: limit
          required: false
          schema:
            type: integer
            default: 10
          description: The number of items to include per page.
      responses:
        '200':
          description: Comy Nodes obtained successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  comfy_nodes:
                    type: array
                    items:
                      $ref: '#/components/schemas/ComfyNode'
                  totalNumberOfPages:
                    type: integer
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Version not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /nodes/{nodeId}/versions/{version}/comfy-nodes/{comfyNodeName}:
    get:
      summary: get specify comfy-node based on its id
      operationId: GetComfyNode
      tags:
        - Registry
      parameters:
        - in: path
          name: nodeId
          required: true
          schema:
            type: string
        - in: path
          name: version
          required: true
          schema:
            type: string
        - in: path
          name: comfyNodeName
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Comy Nodes created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComfyNode'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Version not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /comfy-nodes/backfill:
    post:
      summary: trigger comfy nodes backfill
      operationId: ComfyNodesBackfill
      tags:
        - Registry
      x-excluded: true
      parameters:
        - in: query
          name: max_node
          required: false
          schema:
            type: integer
            default: 10
      responses:
        '204':
          description: Backfill triggered
        '400':
          description: Bad request, invalid input data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /proxy/dummy:
    post:
      summary: Dummy proxy
      description: Dummy proxy endpoint that returns a simple string
      operationId: dummyProxy
      x-excluded: true
      tags:
        - API Nodes
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                message:
                  type: string
      responses:
        '200':
          description: Reindex completed successfully.
  /proxy/minimax/video_generation:
    post:
      summary: Proxy request to Minimax for video generation
      description: Forwards video generation requests to Minimax's API and returns the task ID for asynchronous processing.
      operationId: minimaxVideoGeneration
      x-excluded: true
      tags:
        - API Nodes
        - Released
      security:
        - BearerAuth: [ ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MinimaxVideoGenerationRequest'

      responses:
        '200':
          description: Successful response from Minimax proxy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MinimaxVideoGenerationResponse'
        '400':
          description: Bad Request (invalid input to proxy)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
        '402':
          description: Payment Required
        '429':
          description: Rate limit exceeded (either from proxy or Minimax)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error (proxy or upstream issue)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '502':
          description: Bad Gateway (error communicating with Minimax)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '504':
          description: Gateway Timeout (Minimax took too long to respond)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /proxy/minimax/query/video_generation:
    get:
      summary: Query status of a Minimax video generation task
      description: Proxies a request to Minimax to check the status of a video generation task
      operationId: getMinimaxVideoGeneration
      x-excluded: true
      tags:
        - API Nodes
        - Released
      security:
        - BearerAuth: [ ]
      parameters:
        - name: task_id
          in: query
          description: The task ID to be queried
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response with task status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MinimaxTaskResultResponse'
        '400':
          description: Bad Request (invalid input to proxy)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
        '402':
          description: Payment Required
        '429':
          description: Rate limit exceeded (either from proxy or Minimax)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error (proxy or upstream issue)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '502':
          description: Bad Gateway (error communicating with Minimax)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '504':
          description: Gateway Timeout (Minimax took too long to respond)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /proxy/minimax/files/retrieve:
    post:
      summary: Retrieve download URL for a Minimax file
      description: Proxies a request to Minimax to get the download URL for a file
      operationId: retrieveMinimaxFile
      x-excluded: true
      tags:
        - API Nodes
        - Released
      security:
        - BearerAuth: [ ]
      parameters:
        - in: query
          name: file_id
          required: true
          schema:
            type: integer
          description: Unique identifier for the file, obtained from the generation response
      responses:
        '200':
          description: Successful response with file download URL
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MinimaxFileRetrieveResponse'
        '400':
          description: Bad Request (invalid input to proxy)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
        '402':
          description: Payment Required
        '429':
          description: Rate limit exceeded (either from proxy or Minimax)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error (proxy or upstream issue)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '502':
          description: Bad Gateway (error communicating with Minimax)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '504':
          description: Gateway Timeout (Minimax took too long to respond)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /proxy/ideogram/generate:
    post:
      summary: Proxy request to Ideogram for image generation
      description: Forwards image generation requests to Ideogram's API and returns the results.
      operationId: ideogramGenerate
      x-excluded: true
      tags:
        - API Nodes
        - Released
      security:
        - BearerAuth: [ ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IdeogramGenerateRequest'
      responses:
        '200':
          description: Successful response from Ideogram proxy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IdeogramGenerateResponse'
        '400':
          description: Bad Request (invalid input to proxy)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
        '402':
          description: Payment Required
        '429':
          description: Rate limit exceeded (either from proxy or Ideogram)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error (proxy or upstream issue)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '502':
          description: Bad Gateway (error communicating with Ideogram)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '504':
          description: Gateway Timeout (Ideogram took too long to respond)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /proxy/ideogram/ideogram-v3/generate:
    post:
      summary: Proxy request to Ideogram for image generation
      description: Forwards image generation requests to Ideogram's API and returns the results.
      operationId: ideogramV3Generate
      x-excluded: true
      tags:
        - API Nodes
        - Released
      requestBody:
        description: Parameters for Ideogram V3 image generation
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IdeogramV3Request'
      responses:
        '200':
          description: Successful response from Ideogram proxy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IdeogramGenerateResponse'
        '500':
          description: Internal Server Error (proxy or upstream issue)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /proxy/ideogram/ideogram-v3/edit:
    post:
      summary: Proxy request to Ideogram for image editing
      description: Forwards image editing requests to Ideogram's API and returns the results.
      operationId: ideogramV3Edit
      x-excluded: true
      tags:
        - API Nodes
        - Released
      requestBody:
        description: Parameters for Ideogram V3 image editing
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/IdeogramV3EditRequest'
      responses:
        '200':
          description: Successful response from Ideogram proxy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IdeogramGenerateResponse'
        '400':
          description: Bad Request (invalid input to proxy)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
        '422':
          description: Prompt or Initial Image failed the safety checks.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded (either from proxy or Ideogram)      
        '500':
          description: Internal Server Error (proxy or upstream issue)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /proxy/ideogram/ideogram-v3/remix:
      post:
          summary: Remix an image using a prompt
          operationId: ideogramV3Remix
          x-excluded: true
          tags:
            - API Nodes
            - Released
          requestBody:
              required: true
              content:
                  multipart/form-data:
                      schema:
                          $ref: '#/components/schemas/IdeogramV3RemixRequest'
          responses:
              "200":
                  description: Remix generated successfully
                  content:
                      application/json:
                          schema:
                              $ref: '#/components/schemas/IdeogramV3IdeogramResponse'
              "400":
                  description: Bad Request
              "403":
                  description: Forbidden
              "422":
[...]
